# App
APP_PORT=3000
NODE_ENV=development

# Database
DB_HOST=db
DB_PORT=5432
DB_NAME=nadi_replica
DB_USER=nadi_app
# TODO: isi dari secrets vault atau environment host, jangan hardcode
DB_PASSWORD=

# Session
# TODO: isi dari secrets vault atau environment host, jangan hardcode
SESSION_SECRET=

# reCAPTCHA v2 (https://www.google.com/recaptcha/admin)
RECAPTCHA_SITE_KEY=
# TODO: isi dari secrets vault atau environment host, jangan hardcode
RECAPTCHA_SECRET_KEY=
